<!DOCTYPE html>
<html>

    <head>
        <% include ../static/partials/head.ejs %>
    </head>

    <body>

        <% include ../static/partials/navbar.ejs %>

        <main class="container">

            <% include ../static/partials/messages.ejs %>

            <h1><%= `${user.username}'s profile` %></h1>

            <h3>Your current account status is
                <%= user.role %>
            </h3>

            <h4>Looking to downgrade?</h4>
            
            <form action="/users/<%=user.id %>/downgrade" method="POST">
                <button type="Submit" class="btn btn-warning">Confirm account downgrade</button>
            </form>

        </main>

        <% include ../static/partials/baseScripts.ejs %>

    </body>

</html>