<!DOCTYPE html>
<html>
    <head>
        <% include ../static/partials/head.ejs %>
    </head>
    <body>

        <% include ../static/partials/navbar.ejs %>

        <main class="container">

            <% include ../static/partials/messages.ejs %>

            <h2>Welcome to Blocipedia</h2>

            <p>Please complete the form below to sign up.</p>

            <div class="row">
                <div class="col-md-8">
                <form action="/users" method="post">


                    <div class="form-group">
                        <label>Username:</label>
                        <input type="text" name="name" placeholder="Enter Username" aria-describedby="usernameHelp" class="form-control"/>
                        <small class="text-muted" id="passwordHelp">username must be at least 4 characters long</small>
                    </div>

                    <div class="form-group">
                        <label>Email:</label>
                        <input type="email" name="email" placeholder="Enter Email" aria-describedby="emailHelp" class="form-control"/>
                        <small class="text-muted" id="emailHelp">email address must be a valid address</small>
                    </div>

                    <div class="form-group">
                        <label>Password:</label>
                        <input type="password" name="password" placeholder="Enter Password" aria-describedby="passwordHelp" class="form-control"/>
                        <small class="text-muted" id="passwordHelp">password must be at least 6 characters long</small>
                    </div>

                    <div class="form-group">
                        <label>Password:</label>
                        <input type="password" name="password_conf" placeholder="Enter Password confirmation" aria-describedby="passwordHelp" class="form-control"/>
                    </div><br/>
                    
                    <button type="submit" class="btn btn-primary">Sign up</button>


                </form>
                </div>
            </div>


            
        </main>

        <% include ../static/partials/baseScripts.ejs %>

    </body>
</html>